HELP.md
**.gradle
*.class
**/bin
**/lib
**/build
*.jar
build/
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/


### VS Code ###
.vscode/

# For Java
.gradle
*.class
.classpath
.project
/**/build/**/*

# Package Files #
*.jar
*.war
*.ear